:root {
  --black: #000000;
  --white: #ffffff;
  --font-color: var(--black);
  --bg-color: var(--white);
  --border-color: var(--white);
  --loading-bg-color: rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-position: inside;
}

html {
  height: 100%;
  body {
    height: inherit;
    color: var(--font-color);
    background-color: var(--bg-color);
    #root {
      height: inherit;
    }
  }
}
// flex
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-auto {
  flex: auto;
}

.flex-none {
  flex: none;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}
// padding
.padding-12 {
  padding: 12px;
}

.padding-24 {
  padding: 24px;
}
// margin
.margin-12 {
  margin: 12px;
}

.margin-24 {
  margin: 24px;
}

.margin-top-24 {
  margin-top: 14px;
}

.hidden {
  overflow: hidden;
}

.scope-relative {
  position: relative;
}
.scope-hidden {
  overflow: hidden;
}